<html lang="en" xmlns:th="http://www.thymeleaf.org">
<standard_scripts th:fragment="links">
    <!--/* Need to inject all scripts here, right before closing body tag */-->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <link rel="stylesheet" th:href="@{/js/main.js}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
</standard_scripts>